GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxzkvIFG2-AefqKrQqvKhahKWZvkG8zdyCPgCQcoR9xGC7bE9sIziTIs_8xJwCAUQaNEw/exec
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxzkvIFG2-AefqKrQqvKhahKWZvkG8zdyCPgCQcoR9xGC7bE9sIziTIs_8xJwCAUQaNEw/exec
